{% extends 'base.html.twig' %}

{% block title %}Mes Favoris{% endblock %}

{% block content %}
    <h1>Mes Stations Favorites</h1>

    {% if stations|length > 0 %}
        <table>
            <thead>
            <tr>
                <th>ID de la station</th>
                <th>Nom de la station</th>
                <th>Capacité</th>
            </tr>
            </thead>
            <tbody>
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            {% for station in stations %}
                <tr>
                    <td>{{ station.getStationId() }}</td>
                    <td>{{ station.getName() }}</td>
                    <td>{{ station.getCapacity() }}</td>
                    <td>
                        <form action="{{ path('remove_favorite', {'stationId': station.getStationId()}) }}" method="post" style="display:inline;">
                                <button type="submit" id="btn-delete-favorite">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucune station en favoris.</p>
    {% endif %}
{% endblock %}
